@media (max-width: 576px){

    .container-fluid {
    width: 100%;
}
    .row{
        flex-wrap: wrap;
    }
    .HeaderSection .container-fluid {
    width: 100%;
}
.btnSection{
    display: none;
}
#myHeader{
    .container-fluid{
        .row{
            .col-md-2{
                width: 209px;
            }
            .col-md-6{
                width: calc(100% - 209px);
                .navbar{
                        vertical-align: middle;
                    align-items: center;
                    display: flex;
                    .NavButton{
                        background: #1151a1;
                        color: #fff;
                        margin-left: auto;
                        display: block;
                        margin-top: 10px;
                    }
                }

            }
        }
    }
}
.NavSection{
    position: fixed;
    top: 50px;
    left: 0;
    width: 0vw;
    height: calc(100vh - 50px);
    background: #fff;
    padding-top: 20px;
    transition: 0.5s;
    overflow: hidden;
    &.Open{
        width: 100vw;
    }
        ul{
            padding-left: 0;
            li{
                text-align: left;
                margin-bottom: 15px;
                a{
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
        .btnSection{
            display: block;
            padding-left: 15px;
            .Bannerbutton{
                text-align: left;
                a{}
            }
        }
}
    .Bannerbutton a {
        margin-left: 0;
        width: max-content;
        padding-left: 15px;
        padding-right: 15px;
    }
    .BlueSection{
        .Esection{
            .col-md-3{
                width: 30%;
                .iconSection{
                    padding: 20px;
                    img{
                         height: 50px;
                         width: 50px;
                    }
                }
            }
            .col-md-9{
                width: 70%;
                .Etxt{

                }
            }
        }
    }
    .RPtext p {
        font-size: 18px;
        padding: 0;
        line-height: 2;
        margin-top: 2%;
    }
    .BusinessmanSection .container-fluid {
        width: 100%;
        }
        .BusinessManTxt .Bannerbutton a {
    padding: 8px 20px;
    width: max-content;
    font-size: 18px;
    margin-bottom: 10px;
}
.BusinessManTxt p{
    padding: 10px 0px;
}
.TodayText .Bannerbutton a {
    padding: 8px 20px;
    width: max-content;
    font-size: 18px;
    margin-bottom: 10px;
}
.Recevd-sec {
    text-align: left;
    margin-top: 20px;
}
}